#team {
  .container-fluid {
    border-bottom: 1px solid #afafaf;
  }
  .team-logo img {
    width: 100%;
  }
  .team-logo .team-logo-content {
    width: 50%;
    max-width: 455px;
    margin: auto;
  }
}
