// Variables

// Color overrides

// Set a custom color
$orange: #f4623a !default;
$brown: #5c4d42 !default;
$white: white !default;

$black: black !default;
$font-weight-bold: bolder !default;
//$primary: white !default;
$font-family-sans-serif: Arial !default;
$font-family-serif: Arial !default;
$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 72px;
